<h2> {{title}} </h2>

<form action="/productos" method="post">
<label for="title">Titulo</label> <br>
        <input type="text" id="title" name="title"><br>
        <label for="price">Precio</label> <br>
        <input type="text" id="price" name="price"><br>
        <label for="thumbnail">Imagen</label> <br>
        <input type="url" id="thumbnail" name="thumbnail"><br>
        <input type="submit" class="addButton" value="Subir">
</form>
<br/>
<a class="addButton" href="http://localhost:8080/productos">Ver todos los productos</a>
